<app-navigation [InputTest]="1+2+3" (outputTest)="outputTestMethod($event)">
</app-navigation>
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="d-flex flex-row about-page-container clearfix">
        <div class="col-md-8">
          <h2 class="main-hdr ">About Me
          </h2>
          <span> Who I Am? </span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset she
          </p>
          <div class="d-flex flex-row">
            <button class="btn btn-primary" routerLink="professional">
              <i class="fa fa-download"></i>Download Resume</button>
            <button class="btn btn-secondary" routerLink="professional">
              <i class="fa fa-phone"></i>Contact Me</button>
          </div>
        </div>
        <div class="col-md-4 image-container">
          <img [src]="authorFullImagePath1" class="img-responsive" alt=" Profile Image" />
        </div>
      </div>
      <hr/>
      <div class="d-flex flex-row clearfix">
        <div class="col-md-12 text-center">
          <h2 class="main-hdr ">Profiles
          </h2>
          <span> More About Me! </span>
        </div>
      </div>
      <div class="d-flex flex-row about-hyperlinks-cont clearfix">
          <div class="col-md-6 col-xs-12">
            <a routerLink="personal">
              <div class="d-flex flex-column about-personal-cont">
                <div class="col-md-12">
                  <img [src]="aboutPersonalImg" class="img-circle" />
                </div>
                <h6 class="hdr-6">
                  personal profile
                </h6>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-xs-12">
            <a routerLink="professional">
              <div class="d-flex flex-column about-professional-cont">
                <div class="col-md-12">
                  <img [src]="aboutProfessionalImg" />
                </div>
                <h6 class="hdr-6">
                  professional profile
                </h6>
              </div>
            </a>
          </div>
        </div>
        <hr/>
        <div class=" clearfix">
          <div class="col-md-12 text-center">
            <h2 class="main-hdr ">EDUCATION
            </h2>
            <span> Learning </span>
            <div class="about-education-box">
              <div class="d-flex flex-row justify-content-end">
                <div class="col-md-6 col-md-offset-6 about-education right-box text-left">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2004</h1>
                    </div>
                    <div class="info-box">
                      <h4>B.Tech, Computer Science</h4>
                      <span>
                        <i class="fa fa-map-marker"></i>Mananthavady, Wayanad</span>
                      <p>
                        <i class="fa fa-institution"></i> Govt. Engineering College</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-start ">
                <div class="col-md-6 col-md-offset-6 about-education left-box text-right">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2004</h1>
                    </div>
                    <div class="info-box">
                      <h4>VHSE, Computer Science</h4>
                      <span>Muttil, Wayanad
                        <i class="fa fa-map-marker"></i>
                      </span>
                      <p> Wayanad Muslim Orphanage VHSE
                        <i class="fa fa-institution"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-end">
                <div class="col-md-6 col-md-offset-6 about-education right-box text-left">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2005</h1>
                    </div>
                    <div class="info-box">
                      <h4>SSLC</h4>
                      <span>
                        <i class="fa fa-map-marker"></i>Meenangadi, Wayanad</span>
                      <p>
                        <i class="fa fa-institution"></i> St.Peters & St.Pauls</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="d-flex flex-row clearfix">
          <div class="col-md-12 text-center">
            <h2 class="main-hdr ">EXPERIENCE
            </h2>
            <span> Involvement </span>
            <div class="about-education-box about-experience-box">
              <div class="d-flex flex-row justify-content-start ">
                <div class="col-md-6 col-md-offset-6 about-education left-box text-right">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2017
                        <span>Mar</span> - Present
                      </h1>
                    </div>
                    <div class="info-box">
                      <h4>IBS Softwares</h4>
                      <span>InfoPark, Ernakulam
                        <i class="fa fa-map-marker"></i>
                      </span>
                      <p>
                        Sr. UI Developer
                        <i class="fa fa-institution"></i>
                      </p>
                      <p>
                        <a href="" target="_blank"> Website</a>
                        <i class="fa fa-external-link"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-end">
                <div class="col-md-6 col-md-offset-6 about-education right-box text-left">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2015
                        <span>Aug</span> - 2017
                        <span>MAr</span>
                      </h1>
                    </div>
                    <div class="info-box">
                      <h4>Cyspan Systems pvt Ltd</h4>
                      <span>
                        <i class="fa fa-map-marker"></i>Kadavanthara, Ernakulam</span>
                      <p>
                        <i class="fa fa-institution"></i> UI Developer
                      </p>
                      <p>
                        <i class="fa fa-external-link"></i>
                        <a href="" target="_blank"> Website</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-start ">
                <div class="col-md-6 col-md-offset-6 about-education left-box text-right">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2015
                        <span>Jan</span> - 2015
                        <span>Jul</span>
                      </h1>
                    </div>
                    <div class="info-box">
                      <h4>Evero Consultancy</h4>
                      <span>M.G Road, Ernakulam
                        <i class="fa fa-map-marker"></i>
                      </span>
                      <p>
                        UI Developer
                        <i class="fa fa-institution"></i>
                      </p>
                      <p>
                        <a href="" target="_blank"> Website</a>
                        <i class="fa fa-external-link"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-end">
                <div class="col-md-6 col-md-offset-6 about-education right-box text-left">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2013
                        <span>Nov</span> - 2014
                        <span>Dec</span>
                      </h1>
                    </div>
                    <div class="info-box">
                      <h4>Cybrosys Technologies</h4>
                      <span>
                        <i class="fa fa-map-marker"></i>Kinfra Techno Park, Kakkanchery, Calicut</span>
                      <p>
                        <i class="fa fa-institution"></i>UI Developer
                      </p>
                      <p>
                        <i class="fa fa-external-link"></i>
                        <a href="" target="_blank">Website</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-start ">
                <div class="col-md-6 col-md-offset-6 about-education left-box text-right">
                  <div class="content-box">
                    <div class="year-box">
                      <h1>2012
                        <span>Apr</span> - 2013
                        <span>Oct</span>
                      </h1>
                    </div>
                    <div class="info-box">
                      <h4>Vegavox Solutions</h4>
                      <span>ShivajiNagar, Bengaluru
                        <i class="fa fa-map-marker"></i>
                      </span>
                      <p>
                        UI Designer
                        <i class="fa fa-institution"></i>
                      </p>
                      <p>
                        <a href="" target="_blank"> Website </a>
                        <i class="fa fa-external-link"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<app-footer></app-footer>