@import '../../../../src/styles';

.navbar-brand{
    @include font-roboto(20px,$black,400,1.4em);
}

.navMain{
    @include clearfix;
}

.navMain {
    background:$white;
    box-shadow: none;
    border-bottom: 1px solid $greenPale;

    .nav-link{
        color:$black;

        &:hover{
            @include transition (all, 0.5s, ease);
                opacity:.5;
        }
        &.activeMenu{
            color:red !important;
        }
    }
}