@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400|Roboto:300,400');

$i:!important;

$baseFont:16px;

$primaryColor:#1b73ff;
$primaryColorDark:#356bc5;
$transparent:transparent;
$black:#000;
$greyLight:#f7f7f7;
$greyMid:#b1b1b1;
$greyMed:#77838f;
$white:#fff;
$greenPale:rgba(0, 201, 167, 0.1);
$greenMed:#00c9a7;
$greenBright:#76c239;
$bluePale:rgba(55, 125, 255, 0.1);
$blueMed:#4285f4;
$redBright:#f6483b;
$whitePale:#f8f9fa;



// mixins $ functions

@mixin clearfix {
    &:before,
   &:after {
       content: "";
       display: table;
   }
   &:after {
       clear: both;
   }
   zoom: 1;
}
// transition fn
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}
// padding fn
@function padding($top:0,$right:0,$bottom:0,$left:0){
    @return $top $right $bottom $left ;
}
// margin fn
@function margin($top:0,$right:0,$bottom:0,$left:0){
    @return $top $right $bottom $left;
}

// To quickly centre a block element without having to worry about if there is any top or bottom margin already applied.
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}
// When using ::before and ::after
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}
// for creating scalable elements (usually images / background 
@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

// triangles
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round( $size / 2.5 );
    } @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5 );
    } @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    } @else if  $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}

// font styles
@mixin font-poppins($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Poppins', sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
@mixin font-roboto($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Roboto', sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
//border
@mixin border($side,$size,$style,$color){
    @if $side == top{
        border-top:$size $style $color;
    }
    @else if $side == right{
        border-right:$size $style $color;
    }
    @else if $side == bottom{
        border-bottom:$size $style $color;
    }
    @else if $side == left{
        border-left:$size $style $color;
    }
    @else if $side == all{
        border:$size $style $color;
    }
}
// media queries
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// z index
@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}
$z-indexes: (
    "outdated-browser",
    "modal",
    "site-header",
    "page-wrapper",
    "site-footer"
);


// style starts here
body{
    background: $white;
}
hr{
    margin:margin(.5rem,0,.5rem,0);
}
.home-page{
    background:$white url('src/assets/images/banner_bg.jpg') no-repeat center center fixed ;  // rootsource is set as "src".
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.btn-cont{
    padding:padding(1rem,0,1rem,0);
}
.btn-primary {
    color: $redBright $i;
    background-color: $whitePale $i;
    border:none;
}
.btn-secondary {
    color: $blueMed $i;
    background-color: $whitePale $i;
    border:none;
}
.btn-transparent{
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin:margin(0,3rem,0,0);
    i{
        color:$greenPale;
        font-size: 1.5rem;
        margin-right: .5rem;
        float: left;
    }
    span{
        float: left;
        @include font-roboto(1rem,$black,400,1.6rem);
    }
    &:hover{
        cursor: pointer;
        i{
            color: $black;
        }
        span{
            @include font-roboto(false,$greenMed,false,false);
        }
    }
    &:active,&:focus{
        outline:none;
    }
}
.main-hdr{
    @include font-roboto(2rem,$black,500,1.6em);
    margin: margin(0,0,0,0);
    padding: padding(15px,10px,15px,0);
    text-transform: uppercase;
    position: relative;
    width: auto;
    display: inline-flex;
    &:after{
        content: "";
        position: absolute;
        background-color: #202020;
        width: 100%;
        height: 2px;
        top: 1.8em;
        left: 0;
    }
    +span{
        @include font-roboto(.7em,$white,400,1.6em);
        position: relative;
        left: 0;
        top: 9px;
        background: $redBright;
        padding: 4px 10px;
        border-radius: 8px;
    }
}
.nav-link{
    &.activeMenu{
        color:$redBright !important;
        font-weight: 500;
    }
}
.hdr-1{
    width:100%;
    float: left;
    margin:margin(.5rem,0,.5rem,0);
    @include font-poppins(3.5rem,$black,100,1.4em);
}
.hdr-2{
    width:100%;
    float: left;
    margin:margin(.5rem,0,.5rem,0);
    @include font-poppins(3rem,$black,100,1.4em);
}
.hdr-3{
    width:100%;
    float: left;
    margin:margin(.5rem,0,.5rem,0);
    @include font-poppins(2.5rem,$black,100,1.4em);
}
.hdr-4{
    width:100%;
    float: left;
    margin:margin(.5rem,0,.5rem,0);
    @include font-poppins(2rem,$black,100,1.4em);
}
.hdr-5{
    width:100%;
    float: left;
    margin:margin(.5rem,0,.5rem,0);
    @include font-poppins(1.5rem,$black,100,1.4em);
}
.hdr-6{
    width:100%;
    float: left;
    margin:margin(.5rem,0,.5rem,0);
    @include font-poppins(1rem,$black,100,1.4em);
}
ul{
    padding:0;
    margin:0;
    li{
        list-style: none;
    }
}