@import '../../../src/styles';
.home-name-tag{
    h1{
        margin:margin(5rem,0,0,0);
    @include font-poppins(8rem,$black,600,1.4em);
    background: url('src/assets/images/banner_text_bg.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
        span{
            @include font-poppins(1em,$primaryColor,200,inherit);
        }
    }
    hr{
        border-top: 1px solid $bluePale;    
    }
    p{
        @include font-roboto(1rem,$greyMed,300,1.6em);
    }
}
.home-img-tag img{
   width: 80%;
}