<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 name-tag">
        <div class="row">
          <section>
            <h1>{{AuthorName}}
              <span>{{AuthorSurname}}</span>
            </h1>
            <hr/>
          </section>
          <section>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
              make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset she</p>
              <hr/>
          </section>
        </div>
        <div class="row">
          <div class="btn-cont">
            <button class="btn-transparent" value="{{homeBtnnValue}}" tabindex="1">
              <i class="fa fa-play"></i>
              <span>{{homeBtnValue}}</span>
            </button>
            <button class="btn-transparent" value="{{homeBtnSeeWorks}}" tabindex="2">
              <i class="fa fa-briefcase"></i>
              <span>{{homeBtnSeeWorks}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>